{% extends 'base.html' %}

{% block title %}Skynexus Weather Forcast{% endblock %}

{% block content %}
    <div class="container">
        <h1>Search for Weather Data</h1>
        <form method="POST" action="{% url 'skydata:home' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="city" placeholder="Enter your capital city name" required>
            </div>
            <button type="submit">Search</button>
        </form>
        
        {% if error %}
            <div class="error-message alert">
                {{ error }}
            </div>
        {% endif %}
    </div>
{% endblock %}