<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Information</title>
</head>
<body>
    <h1>Weather Information</h1>

    {% if weather_info %}
        <h2>Location: {{ weather_info.city }}, {{ weather_info.country }}</h2>
        
        <img src="http://openweathermap.org/img/wn/{{ weather_info.icon }}@2x.png" alt="Weather Icon">
        <p>Temperature: {{ weather_info.temperature }} °C</p>
        <p>Feels Like: {{ weather_info.feels_like }} °C</p>
        <p>Description: {{ weather_info.weather_description }}</p>
        <p>Wind Speed: {{ weather_info.wind_speed }} m/s</p>
        <p>Humidity: {{ weather_info.humidity }}%</p>
    {% else %}
        <p>{{ error }}</p>
    {% endif %}

    <!-- Save  Weather Information -->
    <form id="weatherForm" method="post" action="{% url 'skydata' lat=weather_info.lat lon=weather_info.lon %}">
        {% csrf_token %}
        <input type="hidden" name="city" value="{{ weather_info.city }}">
        <input type="hidden" name="country" value="{{ weather_info.country }}">
        <input type="hidden" name="temperature" value="{{ weather_info.temperature }}">
        <input type="hidden" name="feels_like" value="{{ weather_info.feels_like }}">
        <input type="hidden" name="weather_description" value="{{ weather_info.weather_description }}">
        <input type="hidden" name="wind_speed" value="{{ weather_info.wind_speed }}">
        <input type="hidden" name="humidity" value="{{ weather_info.humidity }}">
        <button type="submit">Save Weather Record</button>
    </form>
    
    

</body>
</html>
