{% extends 'base.html' %}

{% block title %}Weather Forecast Details{% endblock %}

{% block content %}
    <div class="container">
        <h1>Weather Details</h1>
        {% if weather.error %}
            <p class="alert">{{ weather.error }}</p>
        {% else %}
        <div class="weather-item">
            
            <h2>
                {% if weather.city %}
                    {{ weather.city }} 
                {% endif %}
                ,
                {% if weather.country %}
                    {{ weather.country }}
                {% endif %}
            </h2>
            <p><strong>Temperature:</strong>
                {% if weather.temperature %}
                    {{ weather.temperature }}°C
                {% else %}
                    N/A
                {% endif %}
            </p>

            <p><strong>Feels Like:</strong>
                {% if weather.feels_like %}
                    {{ weather.feels_like }}°C
                {% else %}
                    N/A
                {% endif %}
            </p>
            
            {% if weather.weather_description %}
                <p><strong>Description:</strong> {{ weather.weather_description }}</p>
            {% endif %}

            {% if weather.wind_speed %}
                <p><strong>Wind Speed:</strong> {{ weather.wind_speed }} m/s</p>
            {% endif %}

            {% if weather.humidity %}
                <p><strong>Humidity:</strong> {{ weather.humidity }}%</p>
            {% endif %}

            {% if weather.created_at %}
                <p><strong>Recorded At:</strong> {{ weather.created_at }}</p>
            {% endif %}
            
            <a href="{% url 'skydata:fetch-skydata' %}">Weather Records</a>
            <a href="{% url 'skydata:home' %}">Back to Home</a>

        </div>
            
        {% endif %}
    </div>
{% endblock %}